@inject IJSRuntime jsRuntime

<section id="connect">
    <MudToolBar Dense="true" Class="mud-toolbar-appbar" Style="background:#e9e9e9;">
        <MudIconButton Title="LinkedIn" Icon="@Icons.Custom.Brands.LinkedIn" Color="Color.Primary" Href="https://www.linkedin.com/in/almacoal/" Target="_blank"/>
        <MudIconButton Title="Instagram" Icon="@Icons.Custom.Brands.Instagram" Color="Color.Primary" Href="https://www.instagram.com/almacoal/" Target="_blank"/>
        <MudIconButton Icon="@Device" OnClick="IsMobile"/>
        <MudSpacer/>
        <MudText Typo="Typo.caption" Align="Align.Right">
            Alexandre Alves © @yearInterval<br/>
            Written in .NET Blazor
        </MudText>
    </MudToolBar>
</section>

@code {
    static ushort firstYear = 2023,
        currentYear = (ushort)DateTime.Now.Year;
    string yearInterval = currentYear == firstYear
        ? $"{firstYear}"
        : $"{firstYear}-{currentYear}";

    static string? Device { get; set; } = @Icons.Material.TwoTone.QuestionMark;
    async Task IsMobile(){
        Device = await jsRuntime.InvokeAsync<bool>("getDevice")
            ? @Icons.Material.TwoTone.Smartphone
            : @Icons.Material.TwoTone.DesktopWindows;
    }
}