<MudPaper Elevation="0" Square="true" Style="background:#c9c9c9; padding:1rem 1.5rem;">
    <MudText Typo="Typo.h3" Align="@TitleSide">@fullExp_str of experience</MudText>
    <MudTimeline DisableModifiers="true" TimelinePosition="TimelinePosition.Start">
        <section id="experience-yld">
            <TimelineCard
                StartDate="@yld_str_str" EndDate="@yld_end_str"
                Location="Remote (Lisbon, Portugal)"
                Icon="@Icons.Material.Rounded.Laptop"
                JobTitle="Senior software engineer (SE III)"
                Company="NewDay, outsourced by YLD"
                Description="API back-end"
                IconColor="purple"/>
        </section>
        <section id="experience-cgi-rms">
            <TimelineCard
                StartDate="@edpp_str_str" EndDate="@edpp_end_str"
                Location="Hybrid (Lisbon, Portugal)"
                Icon="@Icons.Material.Rounded.Laptop"
                JobTitle="Full-stack engineer"
                Company="EDPP, outsourced by CGI"
                Description="Skipper project"
                IconColor="darkred"/>
        </section>
        <section id="experience-cgi-rms">
            <TimelineCard
                StartDate="@cgir_str_str" EndDate="@cgir_end_str"
                Location="Lisbon, Portugal & Remote"
                Icon="@Icons.Material.Rounded.SolarPower"
                JobTitle="Technical consultant"
                Company="CGI"
                Description="RMS platform"
                IconColor="darkred"/>
        </section>
        <section id="experience-cgi-wems">
            <TimelineCard
                StartDate="@cgiw_str_str" EndDate="@cgiw_end_str"
                Location="Lisbon, Portugal"
                Icon="@Icons.Material.Rounded.SolarPower"
                JobTitle="Technical consultant"
                Company="CGI, supporting EDPR"
                Description="WEMS project"
                IconColor="darkred"/>
        </section>
        <section id="experience-cgi-junior">
            <TimelineCard
                StartDate="@cgij_str_str" EndDate="@cgij_end_str"
                Location="Lisbon, Portugal"
                Icon="@Icons.Material.Rounded.SolarPower"
                JobTitle="Junior consultant"
                Company="CGI, supporting EDPR"
                Description="WEMS project"
                IconColor="darkred"/>
        </section>
        <section id="experience-mcs">
            <TimelineCard
                StartDate="@mcs_str_str" EndDate="@mcs_end_str"
                Location="Cascais, Portugal"
                Icon="@Icons.Material.Rounded.Security"
                JobTitle="Project engineer"
                Company="Microsegur"
                Description="Electronic and homeland security"
                IconColor="darkblue"/>
        </section>
        <section id="experience-vestas">
            <TimelineCard
                StartDate="@lwp_str_str" EndDate="@lwp_end_str"
                Location="Osterrade, Germany"
                Icon="@Icons.Material.Rounded.WindPower"
                JobTitle="Wind turbine technician"
                Company="Vestas, outsourced by LusoWindPower"
                Image="img/experience-vestas.jpg"
                IconColor="slategrey"/>
        </section>
        <section id="experience-botametinta">
            <TimelineCard
                StartDate="@bmt_str_str" EndDate="@bmt_end_str"
                Location="Lisbon, Portugal"
                Icon="@Icons.Material.Rounded.LocalPrintshop"
                JobTitle="Front desk clerk"
                Company="BotameTinta"
                IconColor="darkorange"/>
        </section>
        <section id="experience-unilever">
            <TimelineCard
                StartDate="@unlv_str_str" EndDate="@unlv_end_str"
                Location="Santa Iria de Azoia, Portugal"
                Icon="@Icons.Material.Rounded.Factory"
                JobTitle="Automation engineering intern"
                Company="Unilever (FIMA complex, Olá factory)"
                Description="Production floor automation team"
                IconColor="blue"/>
        </section>
        <section id="experience-isel">
            <TimelineCard
                StartDate="@isel_str_str" EndDate="@isel_end_str"
                Location="Lisbon, Portugal"
                Icon="@Icons.Material.Rounded.School"
                JobTitle="Electrical Engineering, B.E."
                Company="ISEL — Instituto Superior de Engenharia de Lisboa"
                Description="Industrial automation"
                IconColor="firebrick"/>
        </section>
    </MudTimeline>
</MudPaper>

@code {
    [Parameter]
    public Align TitleSide { get; set; }

    static LocalDate
        yld_end = new LocalDate(2023, 03, 17),
        yld_str = new LocalDate(2022, 10, 31),
        edpp_end = new LocalDate(2022, 10, 17),
        edpp_str = new LocalDate(2021, 07, 19),
        cgir_end = edpp_end,
        cgir_str = new LocalDate(2019, 09, 19),
        cgiw_end = new LocalDate(2020, 02, 16),
        cgiw_str = new LocalDate(2018, 11, 16),
        cgij_end = new LocalDate(2018, 11, 16),
        cgij_str = new LocalDate(2016, 11, 16),
        mcs_end = new LocalDate(2016, 08, 26),
        mcs_str = new LocalDate(2015, 08, 03),
        lwp_end = new LocalDate(2012, 01, 31),
        lwp_str = new LocalDate(2011, 11, 16),
        bmt_end = new LocalDate(2011, 10, 28),
        bmt_str = new LocalDate(2010, 07, 19),
        unlv_end = new LocalDate(2008, 02, 29),
        unlv_str = new LocalDate(2008, 02, 04),
        isel_end = new LocalDate(2015, 07, 13),
        isel_str = new LocalDate(2007, 09, 17);
    static string
        yld_end_str = Stringify(yld_end),
        yld_str_str = Stringify(yld_str),
        yld_per_str = Stringify(yld_str, yld_end),
        edpp_end_str = Stringify(edpp_end),
        edpp_str_str = Stringify(edpp_str),
        edpp_per_str = Stringify(edpp_str, edpp_end),
        cgir_end_str = Stringify(cgir_end),
        cgir_str_str = Stringify(cgir_str),
        cgir_per_str = Stringify(cgir_str, cgir_end),
        cgiw_end_str = Stringify(cgiw_end),
        cgiw_str_str = Stringify(cgiw_str),
        cgiw_per_str = Stringify(cgiw_str, cgiw_end),
        cgij_end_str = Stringify(cgij_end),
        cgij_str_str = Stringify(cgij_str),
        cgij_per_str = Stringify(cgij_str, cgij_end),
        mcs_end_str = Stringify(mcs_end),
        mcs_str_str = Stringify(mcs_str),
        mcs_per_str = Stringify(mcs_str, mcs_end),
        lwp_end_str = Stringify(lwp_end),
        lwp_str_str = Stringify(lwp_str),
        lwp_per_str = Stringify(lwp_str, lwp_end),
        bmt_end_str = Stringify(bmt_end),
        bmt_str_str = Stringify(bmt_str),
        bmt_per_str = Stringify(bmt_str, bmt_end),
        unlv_end_str = Stringify(unlv_end),
        unlv_str_str = Stringify(unlv_str),
        unlv_per_str = Stringify(unlv_str, unlv_end),
        isel_end_str = Stringify(isel_end),
        isel_str_str = Stringify(isel_str),
        isel_per_str = Stringify(isel_str, isel_end);
    
    static string Stringify(LocalDate ld) =>
        ld.ToDateOnly().ToString("MMM’yy");
    static string Stringify(LocalDate str, LocalDate end) {
        Period per = Period.Between(str, end);
        int mo = per.Months + (per.Days > 14 ? 1 : 0),
            ye = per.Years + (mo > 12 ? 1 : 0);
        string y = ye != 0 ? $"{ye}y" : string.Empty,
            m = mo != 0 ? $"{mo}m" : string.Empty,
            d = per.Days != 0 ? $"{per.Days}d" : string.Empty;
        return $"{y} {m}".Replace("  ", " ").Trim();
    }

    static Period fullExp =
        Period.Between(unlv_str, unlv_end) +
        Period.Between(bmt_str, bmt_end) +
        Period.Between(lwp_str, lwp_end) +
        Period.Between(mcs_str, mcs_end) +
        Period.Between(cgij_str, cgij_end) +
        Period.Between(cgiw_str, cgiw_end) +
        Period.Between(cgir_str, cgir_end) +
        Period.Between(edpp_str, edpp_end) +
        Period.Between(yld_str, yld_end);
    static string fullExp_str = Math.Round(fullExp.Years + (float)fullExp.Months/12, 1) + " years";
}